
  <!-- <div class="content">
      <div class="content-intro container">
        <h1>I have done things a little different<span>.</span></h1>

        <p>
          I am a Brisbane based UX & UI designer that has pivoted from interest like Architecture, Web Design, and Business while undergoing my tertiary studies.
                       </p>
            <p>
              Current status! over the past 1 half years, I have been happily pursuing a career
              where I can design think, scribble on whiteboards, design for user problems and also be part of a huge culture of future thinkers that will create our future digital experiences.
          </p>
      </div>
      </div> -->

      <!-- <div class="content">
          <div class="content-intro container">
            <h4>Hello there<span>,</span></h4>

            <p>
              I am a Brisbane based UX & UI designer.<br>
  Currently designing for <span a href="https://www.canstar.com.au/team-members/joseph-wells/" class="canstar">Canstar</span>.
                           </p>

          </div>
          </div> -->

              <div class="content">
          <div class="content-intro container">

          <div class="col-left">

            <h2>I love creating digital..</h2>

          </div>

          <div class="col-right">

          <img class="right-image" src="/../../assets/images/Me workng.svg">

          </div>

          <div class="clear"></div>

          </div>
          </div>







      <div class="content">
        <div class="content-intro container">
        <!-- <h2>I have done things a little different<span>.</span></h2> -->
        <h4>So Click on a project below</h4>
     <p>Unfortunately though this won’t route the page to a new frame. But It will appear right underneath<span> :)</span></p>
       <ul>

 <li> <a class="btn" title="Relevant Title" routerLink="/panda">Panda</a> </li>
 <!-- <li> <a class="btn" title="Relevant Title" routerLink="/sauron">Saurun</a> </li> -->
 <li> <a class="btn" title="Relevant Title" routerLink="/phyto">Phyto GP</a> </li>
 <li> <a class="btn" title="Relevant Title" routerLink="/friends">Friends</a> </li>
 <li> <a class="btn" title="Relevant Title" routerLink="/ui">More</a> </li>
 <li> <a class="btn" title="Relevant Title" routerLink="/resume">Resume</a> </li>

        </ul>
                   <h5>Projects will route below,</h5>
       </div>
