

  <div class="content">
      <div class="content-intro container">
        <h3>Sauron</h3>
        <h5>Enabling company workflow metrics</h5>
    </div>
  </div>

    <div class="header-portfolio">
      <div class="header-portfolio-inner">
          <img src="../assets/images/sauranfinal2.png">
        </div>

    </div>



        <div class="content" style="background-color:#FFFFFF">
            <div class="content-intro container">


              <h2>Brief</h2>

              <p style="color:#000;">
                  I was asked by Head stakeholders to design an application that enables them to be able to overview important company internal metrics.
              </p>
                  <p>
                     Cons
                  </p>
                     <ul style="color:#000000;">
                        <li>Wasn’t aloud to waste anyones time. </li>
                        <li>Wasn’t aloud to interview the executives through the research phase.</li>
                        </ul>

            </div>
            </div>

          <div class="content">
              <div class="content-intro container">
                <h2>Research</h2>

                <p>
                    After kicking off the initial start of the project, the first thing I wanted to do was approach the potential users and ask questions.
                    As I wasn’t allowed to approach the users, I thought the next big thing would be to contact the PA or someone that may work close to that teams stakeholder.
                      </p>

                      <p>
                           Questions asked,
                        </p>
                  <ul>
                      <li>What sort of metrics do you guys oversee every day?</li>
                      <li>Whats the most common metric related question there stakeholders ask?</li>
                      <li>What tools and applications are used track metrics?</li>

                  </ul>

                  </div>
                </div>

                      <div class="header">
                          <img src="../assets/images/wall.jpg">
                        </div>

                        <div class="content" style="background-color:#ffffff;">
                            <div class="content-intro container">
                              <h2>API Access</h2>
                              <p>
                                  After finalising the information I started to try and figure out data points, as well as see if it was possible to collect these important metrics via existing individual teams applications API’s.
                                </p>
                                <ul>
                                    <li>Data around website metrics</li>
                                    <li>Our internal development process and status</li>


                                </ul>
                            </div>
                            </div>


                        <div class="content">
                            <div class="content-intro container">
                              <h2>After Reviewing</h2>

                                <p>
                                    After gathering all the opertunities and the data points I started to create individual persona’s for each category of executive that would make use of this dashboard                                    </p>
                                        </div>

                            </div>
                            <div class="header">
                                <img src="../assets/images/Persona's.png">
                              </div>



                                <div class="header">
                                    <img src="../assets/images/wireframes.png">
                                  </div>

                                  <div class="content">
                                      <div class="content-intro container">
                                        <h2>User-testing</h2>

                                        <p>After designing the wireframes/low-fi prototype I ventured to test internal users</p>

                                         <p>
                                            Questions I asked !
                                           </p>
                                           <ul>
                                              <li>What they liked about the application so far!</li>
                                              <li>What data points they liked!</li>
                                              <li>What could I do to improve the exp?</li>
                                          </ul>


                                      </div>
                                      </div>

                                      <div class="content">
                                          <div class="content-intro container">

                                            <h5>Please keep in mind this is my first dashboard design and practice makes perfect :)</h5>


                                          </div>
                                          </div>

                                          <div class="header">
                                              <img src="../assets/images/itterations.png">
                                            </div>

                                            <div class="content">
                                                <div class="content-intro container">

                                                  <h5>After conducting the user tests, research and whole lot of
                                                    Itterations I had a final MVP I could present to the Stakeholders for feedback</h5>


                                                </div>
                                                </div>

                                            <div class="header">
                                                <img src="../assets/images/Sauron-testing.png">
                                              </div>

                                               <div class="content">
                                                <div class="content-intro container">
                                                  <h2>Feedback Given<span>.</span></h2>

                                                  <p>
                                                      Feedback Given
                                                     </p>
                                                     <ul>
                                                        <li>Doesn’t show percentages of developer resources and we want this!</li>
                                                        <li>White is really strong on the eyes and hard to visibly see the data</li>
                                                        <li>Mentioned they didn’t notice the Set and Delivered tasks data</li>
                                                        <li>Wanted to see a number of tasks in DOR “Definition of ready</li>
                                                        <li>Wanted to see not just current but past sprint information</li>
                                                        <li>Wants to see a clearer progress bar in the sprint section</li>
                                                        <li>Wants to know what tasks have been replaced</li>
                                                        <li>hey wanted to see the new sprint name not old…</li>
                                                    </ul>


                                                </div>
                                                </div>

                                                <div class="content">
                                                    <div class="content-intro container">

                                                      <h5>Anyways after itterations, consultations and constant research!
                                                        I managed to design a final product that the executives were happy with !</h5>


                                                    </div>
                                                    </div>






                                                            <div class="header">

                                                                <img src="../assets/images/Sauron-layout.png">
                                                              </div>
