
<div class="content">
    <div class="content-intro container">
      <h3>Shopping with friends</h3>
      <h5>A Capstone University project</h5>
  </div>
</div>

      <div class="header">
        <img src="../assets/images/layout.png">
      </div>

      <div class="content">
          <div class="content-intro container">
            <h2>Brief</h2>
            <p>
                This project was a project I worked on while in my final Human centred design
                minor subject while completing my bachelor in Information Technology at Queensland University
                Technology.</p>
          </div>
          </div>



      <div class="content">
          <div class="content-intro container">
            <h2>Information</h2>
           <div class="col">
              <p>The scope of the project was to pick one of four categories including Elderly, book management, Scheduling and shopping. Once we had chosen the category of study, we then ventured to find a common problem with the topic chosen which I target "shopping". When reviewing problems
               within the space! I soon decided to target the online market.
          </p>
          </div>
          </div>
          </div>

          <div class="content">
            <div class="content-intro container">
              <h2>Validation</h2>
              <p>
                While in the validation stages, I conducted several research methods such as daily diary logs and User Interview primarily targeting students under the age of 25. After reading the diary logs and processing the target markets experiences using the online market space.
                I found majority of our testers/participants involved in my studies have used the online market space for a form of procrastination, an excuse to escape the everyday stress off everyday challenges.
            </p>
            <p>
                When Valiating this hypothesis, my research showed that online shopping is the NO.1 form of procarastination of young adults.
                When validating this issue of procrastination I soon found that that the users that were involved on the online market space have faced a similar buying process. For example most of the user's mentioned that have brought items online and then followed the process of receiving either the
                wrong order or have been sent the totally wrong item all together.
            </p>
            </div>
            </div>


            <div class="content">
                <div class="content-intro container">
                  <h2>Brainstorming</h2>
                 <div class="col">
                  <p>
                      During the Brainstorming phase, I collated all data from the previouse validation stage and wrote the
                      important insights on sticky notes. When researching key insights that was written on sticky notes, I determined that the average 85% of customers that prefer to shop within the store prefer to be able to try on the clothes, as well as visualise the product in person.
                </p>
                <p>
                    As for the average 85% of people that prefer the physical
                     experience, 35% of the 85% would consider the new digital shopping
                      experience, but neglect the experience because of the stressful process involved while shopping online.
                </p>

                  <p>
                      That included entering their personal credentials online and the process of waiting for it to be shipped and arrive.
                      I surveyed 22 students at the university about the process of the experience, and majority found it to be a stressful process and were afraid to buy something they can't try before purchasing.
                    </p>
                    </div>
                </div>
                </div>


                <div class="preview">
                    <img src="../assets/images/process.png">
                  </div>

                  <div class="preview">
                      <img src="../assets/images/process2.jpg">
                    </div>

                    <div class="content">
                        <div class="content-intro container">
                          <h2>Low Fi- Mockups</h2>
                          <p>
                              Through the process of Design Thinking, sketching solutions and evaluating the key points that
                              were developed in previous studies, I spoke about in the early stages of the project.
                              I managed to design and develop a new digital solution/product that will fix
                              previous negative research points and the overall user-experience while in the digital space.
                        </p>
                        <p>
                            The idea around the new digital product was developed by picking the most important points explained
                            early in the research such as the overall process, negative social aesthetics within previous
                            experiences and being an unsociable activity.
                        </p>
                        </div>
                        </div>

                        <div class="preview">
                            <img src="../assets/images/process4.png">
                          </div>

                          <div class="content">
                              <div class="content-intro container">
                                <h2>MVP - Mockups</h2>
                                    <div class="col">
                                <p>
                                    The final design is a social collaboration application that connects both the user and the digital space.
                                    The new digital solution aims to create a new experience within both the physical environment and digital social environment.
                                    The application combines social interaction, next generation camera technology, Physical Interactions and Augmented Reality.
                                    The new design is not to replace the existing online market but, make the physical aspects of going shopping seamless and a fun in group experience were you can recieve group feedback on your choices from your friends.
                                    </p>
                              </div>
                              </div>
                              </div>
                              <div class="header">
                                  <img src="../assets/images/layout.png">
                                </div>
