
  <div class="content">

    <div class="content-intro container">

    <div class="col-left">

      <h3>Phyto GP</h3>
      <h5>Simplifying the Medical Triage Process</h5>

  </div>

  <div class="col-right">

    <img class="right-image" src="/../../assets/images/Header-gp.svg">

  </div>

  <div class="clear"></div>

  </div>
  </div>



      <div class="header">
          <img src="../assets/images/phyto.png">
        </div>


            <div class="content">

              <div class="content-intro container">

              <div class="col-left">

                <h4>Brief</h4>
                <p class="two-column">
                  Earlier on this year I worked on Ipad Application with a Melbourne base startup that is trying to desrupt the medical triage industry.
                While working on this project I conducted user-testing, design of the Ipad user-interface and collaborated with a video-designer to create the case study video for Tech Crunch-battlefields entry.
                </p>

            </div>

            <div class="col-right">

              <p>
              Key role
          </p>
            <ul>
              <li>Lead designer of the product</li>
              <li>Facilitated user tests</li>
              <li>Pair designed a entry video for tech Crunch-battlefields with a video designer</li>
            </ul>

            </div>

            <div class="clear"></div>

            </div>
            </div>





              <div class="preview">
                  <img src="../assets/images/phyto2.png">
                </div>

                <div class="content">
                    <div class="content-intro container">
                      <h2>Tech Crunch entry here<span>.</span></h2>
                      <a class="btn" href="https://www.youtube.com/watch?v=ko9Di_dvLvw">Here</a>


                    </div>
                    </div>
