


<div class="content">

  <div class="content-intro container">

  <div class="col-left">

    <h3>Panda</h3>
    <h5>Transformation of
an internal data
platform.</h5>

</div>

<div class="col-right">

  <img class="right-image" src="/../../assets/images/Header-p.svg">

</div>

<div class="clear"></div>

</div>
</div>




<div class="header-portfolio">
  <div class="header-portfolio-inner">

  </div>

  <div class="content" id="header">

    <div class="content-intro container">

    <div class="col-left">

      <h4>Anyways this<br>
        is the Brief”</h4>
      <p class="two-column">
          I was approached by head stakeholders to manage the overall design and experience for an internal application called Insight. This application at the time was quite bloaty, boring, slow and had no personality at all. So
          I was instructed to take over the application and re-design the application to be more functional, fun and easy to use.
      </p>

  </div>

  <div class="col-right">
    <p>
    Key role
</p>
  <ul>
    <li>Become the product designer of the product</li>
    <li>Facilitated workshops, weekly user interviews about the products functionality and presented finalised designed solutions</li>
    <li>Managed the overall feel of the application which resulted later to a re-design</li>
  </ul>

  </div>

  <div class="clear"></div>

  </div>
  </div>


<div class="content-colour">

  <div class="content-intro container">

  <div class="col-left">

    <h2>What was <br>involved"</h2>
    <p class="two-column">

    </p>

</div>

<div class="col-right">
  <p>
Process
</p>
<ul>
  <li>Research</li>
  <li>Held Several Workshops with the product owners</li>
  <li>Wire-frames</li>
  <li>Journey Mapping</li>
  <li>User-flows</li>
  <li>App-flow designs</li>
  <li>Style Guides</li>
  <li>Whoala new Designs</li>
</ul>

</div>

<div class="clear"></div>

</div>
</div>

<div class="content-colour">
  <div class="content-intro container">
  <div class="col-left">
    <h4>Before
<br>Changes</h4>
    <p class="two-column">
      The current application was quite bloated.
    </p>
    <p class="two-column">
      Product owners and majority of the employees
      <br>found it confusing
      and hard to navigate <br>to sections.
    </p>

    <p class="two-column">
      The overal application was just hard to use.
    </p>
</div>

<div class="col-right">

  <img class="right-image" id="new" src="/../../assets/images/Problems-p.svg">


</div>

<div class="clear"></div>

</div>
</div>




  <div class="content-colour">

    <div class="content-intro container">

    <div class="col-left">

      <h4>Approach</h4>
      <p class="two-column">
        After kicking off the initial start of the project, I started to hold various weekly and daily meeting with each individual team member to find out what the everyday users didn't like
        about the existing design, functionality and user-experince of the existing application.
      </p>

  </div>

  <div class="col-right">
    <p>
  Questions asked,
  </p>
  <ul>
    <li>What were the current problems ?</li>
    <li>What did you hate about the current data input process ?</li>
    <li>Whats its like using the application on daily basis ?</li>
  </ul>

  </div>

  <div class="clear"></div>

  </div>
  </div>







  <div class="content-colour">

    <div class="content-intro container">

    <div class="col-left">

      <h4>Research"</h4>
      <p class="two-column">
        After holding various interviews and workshops I finally had the information to support my re-design. Anyways see
        below for the user-flow/wireframe preview of the re-design of the product management section of the new application.
      </p>

  </div>

  <div class="col-right">
    <p>
      What was envolved
</p>
  <ul>
    <li>Re-visited past 2 application phases</li>
    <li>Interviewed several employees for answers</li>
  </ul>

  </div>

  <div class="clear"></div>

  </div>
  </div>

  <div class="header">
    <img src="../assets/images/pastp.svg">
  </div>


<div class="content" id="intro">

    <div class="content-intro container">

    <div class="col-left">

      <h5>Preview below<br>
        for the updating products
        userflow & App Flow :)</h5>


  </div>



  <div class="clear"></div>

  </div>
  </div>






    <div class="header">
      <img src="../assets/images/Product data user-flow.svg">
    </div>

    <div class="content" id="preview">

        <div class="content-intro container">

        <div class="col-left">

          <h5>From User-flows<br>
          Sketches to Wire-frames</h5>


      </div>



      <div class="clear"></div>

      </div>
      </div>

    <div class="header">
      <img src="../assets/images/Product Data Wireframe.svg">
    </div>

    <div class="header">
      <img src="../assets/images/Productup.svg">
    </div>


    <div class="content-colour">

      <div class="content-intro container">

      <div class="col-left">

        <h4>Much more</h4>
        <p class="two-column">
          Hopefully you like the short case study above and the approach I took.
          If you keep scrolling you will see little bit more below :)

        </p>

    </div>

    <div class="col-right">
      <p>
        What was envolved,
    </p>
    <ul>
      <li>Audit processing section</li>
      <li>Rest of the Product management sections</li>
      <li>Clients preview section</li>
      <li>Loading screens, interactions and illustrations</li>

    </ul>

    </div>

    <div class="clear"></div>

    </div>
    </div>

      <div class="header">
        <img src="../assets/images/visual.svg">
      </div>


      <div class="content-colour">
        <div class="content-intro container">
        <div class="col-left">
          <h4>Illustrations
& <br>Emotion</h4>
          <p class="two-column">
          While designing this product, I  wanted to create a quirky and not so boring experience by designing a bunch of illustrations that affect the emotions.
          </p>

      </div>

      <div class="col-right">

        <img class="right-image-colour" src="/../../assets/images/faces.svg">


      </div>

      <div class="clear"></div>

      </div>
      </div>

      <div class="header">
        <img src="../assets/images/logo.svg">
      </div>

      <div class="content-colour">
        <div class="content-intro container">
        <div class="col-left">
          <h4>404 pages</h4>
          <p class="two-column">
          When re-designing the product I found that the existing product didn’t have error screens.
          So in the new created Panda I wanted to give the users error screens.
          </p>

      </div>

      <div class="col-right">

        <img class="right-image-colour" src="/../../assets/images/404.svg">


      </div>

      <div class="clear"></div>

      </div>
      </div>

      <div class="header">
        <img src="../assets/images/alertp.svg">
      </div>


      <div class="header">
        <img src="../assets/images/system.svg">
      </div>

      <div class="content-colour">
        <div class="content-intro container">
        <div class="col-left">
          <h4>New Login Screen</h4>
          <p class="two-column">

          </p>

      </div>

      <div class="col-right">

        <img class="right-image-colour" src="/../../assets/images/login.svg">


      </div>

      <div class="clear"></div>

      </div>
      </div>

      <div class="content-colour">
        <div class="content-intro container">
        <div class="col-left">
          <h4>Wholaa’ we turned a cluttered, boring and confusing data input software into a beautiful software’....</h4>

      </div>

      <div class="col-right">



      </div>

      <div class="clear"></div>

      </div>
      </div>

      <div class="header">
        <img src="../assets/images/p8.jpeg">
      </div>


            <div class="header">
              <img src="../assets/images/screens.svg">
            </div>
