$light-white:transparent;
$white:#FFFFFF;

#intro{
  height:100vh;
  width:100%;
  background-image:url("/assets/images/desk2.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
  color:#ffffff;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);

}
#preview{
  height:100vh;
  width:100%;
  background-image:url("/assets/images/sketch.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
  color:#ffffff;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);

}

.content{
  height:fit-content;
  width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
background: transform(skew(0deg, -10deg));
}

#header{
  height:fit-content;
  width:100%;
  background-image:url("/assets/images/pandab.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
  color:#ffffff;
}

#about{
  height:fit-content;
  width:100%;
  background-image:url("/assets/images/confeti.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
}

#header h4{
  font-size: 60px;
}

h4{
    color:#98DEE3;
}


.content-colour{
  height:fit-content;
  width:100%;
  background-color:#333333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 150px 2rem;
  color:#ffffff!important;
}

#header p{
  color:#ffffff;
}

.content-colour p{
color:#ffffff;
}


.header-portfolio{
  width:100%;
  height:fit-content;
  background-color: #141618;}

  img{
    height:cover;
    width:100%!important;
  }

  .banner{
    padding: 150px 2rem;
  }

  .right-image{

    box-shadow: 0 4px 4px 0 rgba(92,96,110,.05);
    overflow-y: hidden;
    // background: #fcfdff;
    border-radius: 10px;
    // border: 1px solid #e6e9f2;
    width:auto!important;
    margin-right:-200px;
    margin-top:8px;
    align-items: flex-end;
    margin: -300px 0 0 -190px;
  }



  .right-image-colour{

    box-shadow: 0 4px 4px 0 rgba(92,96,110,.05);
    overflow-y: hidden;
    border-radius: 10px;
    width:1300px;
    margin-right:-200px;
    align-items: flex-end;
    position: relative;
    margin: 0 0 0;
  }

  #new{
    margin-top:-300px;
  }


  @media screen and (max-width:800px){
.right-image{
  box-shadow: 0 4px 4px 0 rgba(92,96,110,.05);
  overflow-y: hidden;
  border-radius: 10px;
  width:330px!important;
  margin-right:-200px;
  margin-top:8px;
  align-items: flex-end;
  position: relative;
  margin: 0 0 0;


}
}
