
<div class="content">
    <div class="content-intro container">
      <h4>Ahh I see your interested<span>,</span></h4>
          <p>Keep reading </p>

    </div>
    </div>


    <div class="header">
      <img src="../assets/images/desk.jpg">
    </div>




    <div class="content">

      <div class="content-intro container">

      <div class="col-left">

        <img class="left-image" src="/../../assets/images/me.JPG">

    </div>

    <div class="col-right">
    <p>
      I am a designer that has pivoted from interest like Architecture, Web Design, and Business while undergoing my tertiary studies.
    </p>

    <p>
      Current status! over the past 1 half years, I have been happily pursuing a career where I can design think, scribble on whiteboards, design for user problems and also be part of a huge culture of future thinkers that will create our future digital experiences.
    </p>
      Ahh I forgot to mention also, I like listening to anything chill while researching and designing. My hobies include long skate trips along the beach, music, design, Architurual things and love to take photos in my own time.
    </div>

    <div class="clear"></div>

  </div>
</div>



    <div class="content">

      <div class="content-intro container">


</div>
</div>


<div class="header">
  <img src="../assets/images/sketch.jpg">
</div>





<div class="content">
    <div class="content-intro container">
      <h4>Here is my design journey<span>,</span></h4>
      <h2>Experience</h2>
      <span>-</span>
    </div>
    </div>

    <div class="content">

      <div class="content-intro container">

      <div class="col-left">
            <h4>work -</h4>
    </div>

    <div class="col-right">
        Jnr UX-UI Designer
        <p>Canstar PTY LTD Brisbane Aug 17- current</p>
          <br>
        Jnr Digital Producer CRO/UX
        <p>Canstar PTY LTD Brisbane Jun 16 - Aug 17</p>
            <br>
            Freelance UX/UI consultant
            <p>Phyto Inc. August 17 - Oct 17</p>
            <br>
            Juniour Digital Strategist
            <p>Orange Digital Jun 16 - July 16</p>
            <br>
            UX/ UI Design Student Intern
            <p>Orange Digital May 16 - Jun 16</p>
            <br>
            Casual Juniour Front End Developer
            <p>Cancer Council Queensland Jan 16 - March 16</p>
    </div>
    <div class="clear"></div>

    <div class="col-left">
          <h4>Other-</h4>
  </div>
  <div class="col-right">
      Mentor Designer (Canstar sponsored)
      <p>UQ Weekend of start-ups 2017</p>
        <br>
      UX-UI Designer Contestant
      <p>CUA Hackathon 2017 - Yomo Project</p>
          <br>2
          UX-Research Contestant
          <p>BOQ Hackathon 2017 - Dash app Project</p>
          <br>
          Volunteer Front-End Developer
          <p>Cancer Council Queensland - Throughout 2015</p>

  </div>
    <div class="clear"></div>
  </div>
</div>




<div class="content">
    <div class="content-intro container">
      <h4>Connect with me on linkedin here<span>,</span></h4>
      <a class="btn"  href="https://www.linkedin.com/in/joseph-wells-0a4423b5" title="Relevant Title">Linkedin.</a>
  <div class="clear"></div>
    </div>
    </div>
