

 











      <div class="header-portfolio">
    <div class="header-portfolio-inner">
        <img src="../assets/images/admin.png">
      </div>
  </div>

  

      <div class="content" >
          <div class="content-intro container">
              <h4 style="color:#000; font-size:80px;">Brief</h4>   
            <div class="col">
            <p>
                I was asked by head stakeholders re-design an existing reception area display calendar.
                <p>
                   Things that needed to be considered
                </p>
                   <ul >    
                    <li>Needed to some how display our existing meeting rooms spacial awarenes</li>  
                    <li>Needed to display available equipment for each rooms</li>
                      <li>Needed to have a duration bar and who was attending that meeting</li>
                      <li>Had to consider branding colours etc</li>

                      </ul>

              </div>
          </div>
          </div>
          <div class="preview">
            <img src="../assets/images/calendarm.png">
          </div>

          <div class="header">
              <img src="../assets/images/new.png">
            </div>



                                                       

      