<!-- The content of your page would go here. -->

<footer class="footer-distributed">

<div class="center-headline">
        <h3>I Want to help</h3><h2>Design</h2><h3>The next big thing</h3>
</div>

  <div class="footer-left">


  <p class="footer-company-name">More work here !</p>
    <p class="footer-links">
      <a href="panda">Panda</a>
      .
      <!-- <a routerLink="Sauron">Sauron</a> -->
      ·
      <a routerLink="phyto">Phyto-GP</a>
      ·
      <a routerLink="ui">UI-Designs</a>
      ·

    </p>

    <p class="footer-company-name">Joseph copyright@2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>Joseph Wells</span>
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>Contact me here</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="https://www.linkedin.com/in/joseph-wells-0a4423b5">Linkedin</a>
      </p>

    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">

      <span>What I'm doing</span>
      looking for new Ventures!
      <span>Information</span>
      Anyways, hopefully you liked this!  As I would love to work with you on my next project.
      <br>
      <span>Currently Designing at Canstar PTY LTD</span>
    </p>






  </div>

</footer>
